<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>cs8803-mas</h1>
    <p>Sample application testing some apis.</p>
    <a type="button" class="btn btn-lg btn-default" href="/db"><span class="glyphicon glyphicon-flash"></span> Database Page</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
     This app is in beta.
  </div>
  <hr>
  <div class="text-center">
    <h1> Will hopefully improve over time. </h1>
  </div>
</div>

</body>
</html>
